version: 2.1

orbs:
  thunderscan: defensecode/thunderscan@1.0

workflows:
  build:
    jobs:
      - thunderscan/scan:
          threshold: "high:1"
          report: true
          report-filename: thunderscan-report
          report-format: html
          scan-name: "$CIRCLE_PROJECT_REPONAME/$CIRCLE_BUILD_NUM"
          post-run:
            - store_artifacts:
                path: ./thunderscan-report.html