version: 2.1

orbs:
    testorb: boskostan/circleci-orb-test@dev:0518ee3

workflows:
  build:
    jobs:
      - testorb/hello:
          engines: "2"
          report: true
          report-filename: thunderscan-test-report
          report-format: html,json


